:root {
  --tint-color: #AECFD8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 90%;
  margin: 0 auto;
}

.margin-section {
  margin-top: 60px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

li {
  margin-top: 5px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

 a:hover {
  color: var(--tint-color);
  outline: 1px solid;

}

html {
  width: 100%;
  background-color: #E9EDEA;
}

body {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;

  background-color: #fff;
  border: 1px solid #E9EDEA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.f-center {
  justify-content: center;
}

/* .gap {
  gap: 20px;
} */

.hard-skills-box {
  justify-content: space-between;
}

.fa {
  color: var(--tint-color);
  margin-right: 2px;
  margin-bottom: 5px;
}

.about-me-box > h2 {
  padding-bottom: 10px;
}

@media only screen and (max-width: 1030px) {
  body {
    width: 90%;
  }
}

@media only screen and (max-width: 855px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  header {
    display: none;
  }
}

@media only screen and (max-width: 410px) {
  .hard-skills-box {
      flex-direction: column;
  }
}