*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
li {
  margin: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

a {
    text-decoration: none;
}
